__pycache__
.DS_Store

test.py
test2.py
test3.py
debug.py
debug*.txt
test
*output.out

habitat-sim
habitat-lab
build
sound-spaces/scripts/AmbisonicBinauralizer

sound-spaces/data/metadata
sound-spaces/data/models
sound-spaces/data/sounds
sound-spaces/data/scene_datasets
sound-spaces/data/my_datasets

output

anim*.gif
apartment_0_*.png
imgs
