__pycache__
.DS_Store

test.py
test2.py
test3.py
debug.py
debug*.txt
test
job.sh
*output.out

habitat-sim
habitat-lab
data
build
sound-spaces/scripts/AmbisonicBinauralizer

output

anim*.gif
apartment_0_*.png
imgs
