__pycache__
.DS_Store

test.py
debug*.txt
test
job.sh
*output.out

habitat-sim
habitat-lab
data
build
sound-spaces/scripts/AmbisonicBinauralizer

output

train.sh
test.sh
video.sh

anim*.gif

